nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    padding:0px 30px;
    z-index: 9999999;
    height: 10vh;
    
    background-color: black;
}
.logo{
    color: white;
}

nav .menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.menu-text{
    color: white;
    text-decoration: none;
}